/* NAVBAR CSS CODE */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 75px;
  width: 100%;
  height: 100%;
}
body#blogbody {
  padding: 130px 100px 0px 100px;
  width: 100%;
  height: 100%;
}

#blog-container-outer {
  max-width: 1100px;
  height: 290px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.bloginputs {
  display: flex;
  max-width: 100%;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  padding: 0 15px;
  border: solid 0.5px black;
  outline: none;
}

.bloginputs:hover {
  box-shadow: 0 5px 10px rgba(123, 181, 232, 0.2);
}

#blog-container-outer #blogwrite {
  height: 120px;
  /* padding: 5px 15px 0 15px !important; */
}

#blog-container-outer #PublishBlogBtn {
  /* position: relative;
  right:360px; */
  width: 100px;
  height: 30px;
  padding: 5px;
  margin-left: 10px;
  background: #2980b9;
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  outline: 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
#blog-container-outer #PublishBlogBtn:hover{
  background-image: linear-gradient(#f4f5f5, #f6f8f9);
  /* font-weight: 600;
  color: #1da1f2;; */
}
#filter-main-div{
  max-width: 1100px;
  height:30px;
  padding: 30px 20px;
  margin-top:10px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#filter-main-div input[type="radio"]{
width: 16px;
height:16px;
background-color:#1da1f2 ;
border-color: #0f1111;

}
#filter-main-div label{
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  /* justify-content: space-between; */
}
#filterBtn{
  width: 70px;
  height: 30px;
  padding: 5px;
  margin-left: 10px;
  background: #2980b9;
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  outline: 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
#filterBtn:hover{
  background-image: linear-gradient(#f4f5f5, #f6f8f9);
  /* font-weight: 600;
  color: #1da1f2;; */
}
#getBlogdiv {
  margin-top:30px;
  max-width: 1100px;
  height: auto;
}

.blogdiv {
  padding: 10px 15px;
  width: 100%;
  height:100%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  /* background-color: #8d9096; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.btextdiv {
  display: flex;
  height: 75%;
  word-break: break-all;
  overflow: auto;
  /* background-color: burlywood; */
  margin-bottom: 10px;
  margin-top: 5px;

}
.titlediv{
font-size: 30px;
font-weight: 700;
/* background-color: #41a3f9; */
}
.namediv{
  font-size: 15px;
  font-weight: bold;
/* background-color: chocolate; */
}

.bdeletbtn{
  display: block;
 
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  width: 70px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  /* padding: 0 11px; */
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}


nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #2980b9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* z-index: 1000 */

}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: #2980b9;
  margin: auto;
}

nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}

nav .navbar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

/* #Home{
  background: #fff;
}
#About{
  background: #f2f2f2;
}
#Category{
  background: #e6e6e6;
}
#Latest{
  background: #fff;
}
#Contact{
  background: #f2f2f2;
}
#Feedback{
  background: #e6e6e6;
} */
.button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
#userProfile{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0; /* Set background color */
  display: flex;
  align-items: center;
  justify-content: center;
}
#userProfile li {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


#logoutBtn {

  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  width: 70px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  /* padding: 0 11px; */
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#logoutBtn {
  border-bottom-color: #a2a6ac;
}

#logoutBtn {
  border-bottom-color: #a2a6ac;
}

#logoutBtn {
  border-color: #a2a6ac #979aa1 #82858a;
}

#logoutBtn {
  border-color: #007be7;
  box-shadow: #41a3f9;
  outline: 0;
}

#blogappbtn {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  width: 70px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  /* padding: 0 11px; */
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}


/* MY CSS CODE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #2980b9;
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 420px;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.center h1 {
  text-align: center;
  font-size: 45px;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

#register-btn {
  width: 100%;
  height: 50px;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  border: none;
}

#register-btn:hover {
  border-color: #2691d9;
}

#login-register-btn {
  width: 100%;
  height: 50px;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  border: none;
}

#login-register-btn:hover {
  border-color: #2691d9;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #2691d9;
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.signup_link a:hover {
  text-decoration: underline;
}

#maincontainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.apps-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

}

.same {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.same:hover {
  /* text-decoration: underline; */
  background: rgba(35, 35, 35, 0.2);
  cursor: pointer;
}

.same div {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}

/* #welcomeDiv{ */
/* position: absolute;
  top: 50%;
  left: 50%; */
/* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
/* transform: translate(-50%, -50%); */
/* max-width: 600px;
  height: 100%;
  width: 100%;
} */




.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;

  position: absolute;
  top: 50%;
  left: 50%;
  /* display: flex;
  text-align: center;
  align-items: center; */
  transform: translate(-50%, -50%);
  /* max-width: 420px;
  width: 100%; */
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.todoinputdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

#todo-iput {
  /* width: 100%; */
  /* padding: 0 5px; */
  height: 30px;
  font-size: 16px;
  border: none;
  /* background: none; */
  outline: none;
  color: #211f1f;
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
}

#todo-btn {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 20px;
  height: 30px;
  width: 70px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#todo-btn {
  border-bottom-color: #a2a6ac;
}

#todo-btn {
  border-bottom-color: #a2a6ac;
}

#todo-btn {
  border-color: #a2a6ac #979aa1 #82858a;
}

#todo-btn {
  border-color: #007be7;
  box-shadow: #41a3f9;
  outline: 0;
}

#todos-maincontainer {
  width: 100%;
  height: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#todos-maincontainer h1 {

  font-size: 70px;
  margin-bottom: 40px;
  color: #f7f8fa;
}

.tododatacontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todosdatacontainermain {
  margin-top: 50px;
}

.todiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin-bottom: 15px;
}

.tospan {
  font-size: 17.5px;
  width: 200px;
  border-bottom: solid 0.2px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5)
}


.deletebtn {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 20px;
  height: 30px;
  width: 70px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.deletebtn {
  border-bottom-color: #a2a6ac;
}

.deletebtn {
  border-bottom-color: #a2a6ac;
}

.deletebtn {
  border-color: #a2a6ac #979aa1 #82858a;
}

.deletebtn {
  border-color: #007be7;
  box-shadow: #41a3f9;
  outline: 0;
}